@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===============================
   Base Palette (Neutral + Brand)
================================ */
:root {
  /* Neutral */
  --gray-50: #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e2e8f0;
  --gray-700: #334155;
  --gray-900: #0f172a;

  /* Brand (Indigo) */
  --brand-500: #6366f1;
  --brand-600: #4f46e5;

  /* ===============================
     Dark Mode (Default)
  ================================ */
  /* --color-bg: #020617; */
  --color-bg: #0d0e12;
  --color-surface: #020617;

  --color-text: #f8fafc;
  --color-muted: #cbd5f5;

  --color-primary: #334741;
  --color-primary-hover: #03422f;

  --color-border: #1e293b;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.4);
  --shadow-md: 0 12px 32px rgba(0, 0, 0, 0.35);
}
